#resultDiv img{
-webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform:scale(0.8); /*Mozilla scale version*/
-o-transform:scale(0.8); /*Opera scale version*/
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
opacity: 0.8; /*initial opacity of images*/
margin: 20px 10px -5px 0; /*margin between images*/
z-index:5;
}

#resultDiv img:hover{
-webkit-transform:scale(2.0); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(2.0); /*Mozilla scale version*/
-o-transform:scale(2.0); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
opacity: 1;
z-index:0;
}

body
{
font: "Trebuchet MS", Verdana, sans-serif;
background-color: black;
color: #696969;
height:770px;

}
h1
{
border-bottom: 3px solid #cc9900;
font: Georgia, serif;
color: #996600;
}
#main
{
height:768px;
width:auto;
background-image: url('../../Images/background.png');
background-repeat: no-repeat;
text-align: center;
margin: auto;
background-attachment:fixed;
background-position:center;
}

#dropField
{
    height: 200px;
    width: 200px;
    padding: 17% 0 0 30%;
}
#resultDiv 
{
    width: 700px;
    height: 420px;
    padding: -10px 0 0 0;
    background-image: url('../../Images/dropfield.png');
    background-repeat: no-repeat;
    background-position:center;
}
a
{
color: #034af3; 
}
/* Menu Styles ------------------------------*/ 
ul#menu
{
padding: 0px;
position: relative;
margin: 0;
}
ul#menu li
{
display: inline;
}
ul#menu li a 
{
background-color: #e8eef4;
padding: 10px 20px;
text-decoration: none;
line-height: 2.8em;
/*CSS3 properties*/
border-radius: 4px 4px 0 0;
}
ul#menu li a:hover
{
background-color: #ffffff;
} 
/* Forms Styles ------------------------------*/ 
fieldset
{
padding-left: 12px;
} 
fieldset label
{
display: block;
padding: 4px;
}
input[type="text"], input[type="password"]
{
width: 300px;
}
input[type="submit"]
{
padding: 4px;
}
/* Data Styles ------------------------------*/ 
table.data
{
background-color:#ffffff;
border:1px solid #c3c3c3;
border-collapse:collapse;
width:100%;
}
table.data th
{
background-color:#e8eef4;
border:1px solid #c3c3c3;
padding:3px;
}
table.data td 
{
border:1px solid #c3c3c3;
padding:3px;
}