@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

    Drag'n'Drop an image to get it filtered.
    <div id="mainDiv">
        <img id="imgBG" class="test" style=" border:1px solid #000" src="../../Images/dropHere.png" /> 
    </div>
    <div id="resultDiv"></div>
    <script>
        var dropbox = document.getElementById('imgBG');
        var mainDiv = document.getElementById('mainDiv');

        //dropbox.style.height = "500px";
        // Setup drag and drop handlers. 
        dropbox.addEventListener('dragenter', stopDefault, false);
        dropbox.addEventListener('dragover', stopDefault, false);
        dropbox.addEventListener('dragleave', stopDefault, false);
        dropbox.addEventListener('drop', onDrop, false);

        function stopDefault(e) {
            e.stopPropagation();
            e.preventDefault();
        }

        function onDrop(e) {
            e.stopPropagation();
            e.preventDefault();

            var readFileSize = 0;
            var files = e.dataTransfer.files;
           

            file = files[0];
            readFileSize += file.fileSize;

            // Only process image files. 
            var imageType = /image.*/;

            if (!file.type.match(imageType)) {
                return;
            }

            var reader = new FileReader();

            reader.onerror = function (e) {
                alert('Error code: ' + e.target.error);
            };

            // Create a closure to capture the file information. 
            reader.onload = (function (aFile) {
                return function (evt) {
                    dropbox.src = evt.target.result;
                    dropbox.style.height = "300px";
                    document.getElementById("resultDiv").innerHTML = null;
                }
            })(file);
            loadXMLDoc(file);
            // Read in the image file as a data url. 
            reader.readAsDataURL(file);
        }
        function loadXMLDoc(file) {
            var date = new Date();
            var starTime = date.getTime;

            var reader = new FileReader(file);
            var xmlhttp;
            var txt, x, i;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var response = xmlhttp.responseText;
                    var arrayOfStrings = response.split(" ");
                    var img;
                    var i;
                    for (i = 1; i < arrayOfStrings.length; i++) {
                        img = document.createElement("IMG");
                        img.src = arrayOfStrings[i];
                        img.style.height = "300px";
                        document.getElementById("resultDiv").appendChild(img);
                    }
                }
            }

            var fd = new FormData();
            
            fd.append("fileUpload", file);
            xmlhttp.open("POST", "myImage/Image", true);
            xmlhttp.send(fd);
        }

        function CreateImage() {
            var img = document.createElement("IMG");
            img.src = xmlhttp.responseText;
            document.getElementById("mainDiv").appendChild(img);
        }

        //function addCommas(nStr) {
        //    nStr += '';
        //    x = nStr.split('.');
        //    x1 = x[0];
        //    x2 = x.length > 1 ? '.' + x[1] : '';
        //    var rgx = /(\d+)(\d{3})/;
        //    while (rgx.test(x1)) {
        //        x1 = x1.replace(rgx, '$1' + ',' + '$2');
        //    }
        //    return x1 + x2;
        //}
    </script>
  

