@{
    ViewBag.Title = "Home Page";
}

    <div id="dropField">
        <div id="myimgdiv">
        <img id="imgBG" class="test" src="../../Images/dropfield.png" />
            </div> 
        <div id="resultDiv"></div>
    </div>

    

    <script>
        var dropbox = document.getElementById('imgBG');
        var mainDiv = document.getElementById('dropField');
        var myFilterNames = new Array(" ", "Invert", "Grayscale", "ComboGamma", "RedGamma", "GreenGamma", "BlueGammа", "Sepia", "Contrast", "TrueRealContrast", "FalseRealContrast", "BrightnessP", "BrightnessN");
        //dropbox.style.height = "500px";
        // Setup drag and drop handlers. 
        dropbox.addEventListener('dragenter', stopDefault, false);
        dropbox.addEventListener('dragover', stopDefault, false);
        dropbox.addEventListener('dragleave', stopDefault, false);
        dropbox.addEventListener('drop', onDrop, false);

        function stopDefault(e) {
            e.stopPropagation();
            e.preventDefault();
        }

        function onDrop(e) {
            e.stopPropagation();
            e.preventDefault();
            

            var readFileSize = 0;
            var files = e.dataTransfer.files;
           

            file = files[0];
            readFileSize += file.fileSize;

            // Only process image files. 
            var imageType = /image.*/;

            if (!file.type.match(imageType)) {
                return;
            }

            var reader = new FileReader();

            reader.onerror = function (e) {
                alert('Error code: ' + e.target.error);
            };

            // Create a closure to capture the file information. 
            reader.onload = (function (aFile) {
                return function (evt) {
                    //dropbox.src = evt.target.result;
                   // dropbox.style.height = "300px";
                    //document.getElementById("resultDiv").innerHTML = null;
                    //document.getElementById("DropField").innerHTML = null;
                    
                }
            })(file);
            loadXMLDoc(file);
            // Read in the image file as a data url. 
            reader.readAsDataURL(file);
        }
        function loadXMLDoc(file) {
            //var date = new Date();
            //var starTime = date.getTime;

            var reader = new FileReader(file);
            var xmlhttp;
            var txt, x, i;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var response = xmlhttp.responseText;
                    var arrayOfStrings = response.split(" ");
                    //alert("Filters applied for:" + arrayOfStrings[0] + " miliseconds!");
                    var img;
                    var i;
                    document.getElementById("myimgdiv").innerHTML = null;
                    for (i = 1; i < arrayOfStrings.length; i++) {
                        img = document.createElement("IMG");
                        
                        img.id = myFilterNames[i];
                        img.style.height = "88px";
                        img.src = arrayOfStrings[i];
                        
                        document.getElementById("resultDiv").appendChild(img);
                        //document.getElementById(myFilterNames[i]).onclick = function ()  {
                        //    var fd = new FormData();
                        //    fd.append("fileUpload", file);
                        //    xmlhttp.open("POST", "Filters/ApplyFilter1", true);
                        //    xmlhttp.send(fd);
                        //}
                    }
                }
            }

            var fd = new FormData();
            
            fd.append("fileUpload", file);
            xmlhttp.open("POST", "Filters/GetThumbnails", true);
            xmlhttp.send(fd);
        }
        function ThisIsClicked(shit){
            alert(shit);
        }
        function CreateImage() {
            var img = document.createElement("IMG");
            img.src = xmlhttp.responseText;
            document.getElementById("dropField").appendChild(img);
        }

        //function addCommas(nStr) {
        //    nStr += '';
        //    x = nStr.split('.');
        //    x1 = x[0];
        //    x2 = x.length > 1 ? '.' + x[1] : '';
        //    var rgx = /(\d+)(\d{3})/;
        //    while (rgx.test(x1)) {
        //        x1 = x1.replace(rgx, '$1' + ',' + '$2');
        //    }
        //    return x1 + x2;
        //}
    </script>
  

