﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="../../Images/favicon.ico" />
<title>@ViewBag.Title</title>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>
<body>
<div id="main">
@RenderBody()
</div>
</body>
</html>